@import 'mixins';

@include font-face(TTCommons-Bold, "../assets/fonts/TTCommons-Bold", null, null, ttf);
@include font-face(TTCommons-Regular, "../assets/fonts/TTCommons-Regular", null, null, ttf);

$primary-color: #2C43A3;
$white: rgb(255, 255, 255);

h1 {
    font-family: TTCommons-Bold;
    font-size: 72px;
    color: #000000;
}

h3 {
    font-family: TTCommons-Regular;
    font-size: 36px;
}

h5 {
    font-family: TTCommons-Bold;
    font-size: 24px;
}

.btn-white{
    background: $white;
    &:hover{
        background-color: darken( $white, 3%)!important;
    }
    &:active {
        background-color: darken( $white, 1%)!important;
    }
    &.active {
        background-color: darken( $white, 10%)!important;
    }
}
.btn{
    padding-bottom: 4px;
}
.btn:focus {
    box-shadow: none;
}